<div>
    <h1>To-Do List</h1>
</div><hr>
<div>
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let t of tasks">
            <tr>
                <td>{{t.sno}}</td>
                <td>{{t.task}}</td>
                <td>{{t.date}}</td>
                <td>{{t.time}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>