<div style="text-align: center;">
    <h2>Add Task</h2>
</div><hr>
<div class="container-fluid" style="width: 700px; text-align: center; margin-top: 50px;background-color:bisque;"><br>
   S.No: <input type="number" [(ngModel)]="tasks.sno" required><br><br>
   Task: <input style="margin-left: 4px;" type="text" [(ngModel)]="tasks.task" required><br><br>
   Date: <input type="text" [(ngModel)]="tasks.date" required><br><br>
   Time: <input type="text" [(ngModel)]="tasks.time" required><br><br>
   <button class="btn btn-outline-primary" (click)="addTask(tasks)" [routerLink]="['/tasks']">Add</button>
   <br><br>
</div>